.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 8%;
  background: var(--secondary-color);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: var(--shadow);
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.logo a {
  text-decoration: none;
  color: white;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #38bdf8;
}

@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    padding: 20px;
  }

  .nav-links {
    margin-top: 20px;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

}